# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
#Godeps/_workspace
#Ignore local dev.ini file
dev.ini

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568v]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*~

# Cache logs
cache.log
.project

# ignore project ide folders
*.class
*.log
.idea

.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
tables.json
metastore_db
